# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Config
config.json

# Build output
dist
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage

# Temporary files
*.tmp
*.temp
